<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
    This is a test! Welcome!
    <p>Your post params:</p>
    <p>- - - - - - - - - - - - -</p>
    <p> <%= input %></p>
    <p>- - - - - - - - - - - - -</p>
</body>
</html>
